@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1579683848693'); /* IE9 */
  src: url('iconfont.eot?t=1579683848693#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABsQAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBUIFIATYCJAMICwYABCAFhG0HLhvsBciemjwJVGgDC5CFF+BgyMXD8/vhzn3/TTWpJmmiijQSy9QtgldCs1AnpROKlrD7X2tzaqHN6+dRDPEk2lbmr/jsYM1LJVRSgRC50AgZ2IAjSTjTRGg+5QmdfOLeaRMokPmAcptzUpcWxQEFugdGkfUDCblh7AKX8JhApQ5dmeW9k3Moy6xVgXjtWBqUcwFZZulyobTmYBZflChPb9M3PofEx3/jUSYpKVhV+692TVj9Zmflnp+ePfNJggR0vAQFxoBMHNcmduUEY+RUJvJ6wL7Kg9/+75vEXvWC/XVWaTVog4J7ErqiW/1lAhkVWAQ2RgWoCFtabRH1svr1/v3j7cO7u4v4e9403327+V7Vev/z9sc5L3h8nK9OiEcubpWGzWob6DT9sRpL3Qkrlru4Kf7ob0xd82et6ZVrGfxqVA5bsgLKzyuPkfz/J+w5kHWxZUxZFdZmkkWV+2qrVIkn2NNoM1bTcrO2UJ4TMiRl2lEo10fO9DGUqDKJUuXmUGnU/vEqTVhO5AqM+AAI9b6Q1HpEod4POdN/UaLVH0rVRw6VTqPpwioD4VSXmDQhE/UndIwoVI5ZqlH5KVl3vsZZcci8JE6dMI76w2J6n0LiObak99ZYRKHiKMA98Bz5foQxRy4Z0rdF4slgoOre1DeiAKqWMKIRxIR0T5DDEAkpf7Kolj5/ilju+DTc0lfjvURYypkdjfQNe5D3FWGvvnt5JXXPMiaEghQWCaA9YCO+nYiguH6eixhEnz0iFpsYoGGqr6K/vir4ulNQydKmsOsL+ZrCOwAAAA==') format('woff2'),
  url('iconfont.woff?t=1579683848693') format('woff'),
  url('iconfont.ttf?t=1579683848693') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1579683848693#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e7f2";
}

